.admin-content h1{
    color: #fff;
    font-size: 5rem;
    text-align: center;
    padding: 20px;
}

.admin-content .admin-row{
    height: max-content;
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    border-radius: 3em;
    box-shadow: 0 0 20px rgba(255,255,255,.5);
    border: var(--border);
}

.admin-content .admin-row .admin-button{
    border-radius: 3em;
    flex:1 1 45rem;
    display: flexbox;
    width: fit-content;
}

.admin-content .admin-row .admin-button a{
    margin-left: 20px;
    width: fit-content;
    display:grid;
}

.admin-content .admin-row .admin-text{
    border-radius: 3em;
    flex:1 1 45rem;
    padding:3rem;
    margin: 30px;
    background: rgb(83, 83, 83);
    width: max-content;
}

.admin-content .admin-row .admin-text h2{
    font-size: 3rem;
    color:#fff;
    border-bottom: 5px solid #fff;
}

.admin-content .admin-row .admin-text h4{
    font-size: 1.5rem;
    color:rgb(230, 230, 230);
}

.admin-content .admin-row .admin-text h4 span{
    font-size: 2rem;
    color:#fff;
}