/* Google Fonts importieren */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* Ende der Google Font*/

/*Variablen Definieren*/
:root{
  --main-color:#7e3232;
  --shadow:#7e32323a;
  --black:#180909;
  --bg:#010103;
  --border-color: #b3b3b3;
  --border:.1rem solid var(--border-color);
}
/*Ende der Variablen Definition*/

/*Allgemeine Definitionen*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: var(--bg);
}
body p{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
/*Ende der Allgemeine Definitionen*/

.close-btn div{
  color:var(--border-color);
  cursor: pointer;
  font-size: 2rem;
  float: right;
}

.close-btn div:hover{
  color:var(--main-color);
}

.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: var(--black);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(255,255,255,.5);
  border: var(--border);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  color: #fff;
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: var(--border);
  box-shadow: 0 0 15px rgba(255,255,255,.5);
  border-radius: 15px;
  background: var(--border-color);
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #fff;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: var(--main-color);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 3em;
  border:var(--border);
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  background:var(--bg);
  color: #fff;
}
.form-inner form .field input:focus{
  border-color: var(--main-color);
  box-shadow: 0 0 15px var(--main-color);
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.form-inner form .signup-link a{
  color:var(--main-color);
  text-decoration: none;
  font-weight: bold;
}
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 3em;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: var(--main-color);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}